.barsHeader {
  color: orange;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

.addBarButton {
  position: absolute;
  right: 85px;
  top: 18px;
  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.addBarButton:hover,
.addBarButton:active,
.addBarButton:focus,
.addBarButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.barsHideButton {
  position: absolute;
  right: 10px;
  top: 18px;
  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.barsHideButton:hover,
.barsHideButton:active,
.barsHideButton:focus,
.barsHideButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.barList {
  border-style: solid;
  border-color: rgb(204, 92, 0);
  font-weight: bold;
  position: absolute;
  width: 235px;
  color: white;
  background-color: rgb(32, 32, 32);
}

.barListHeader {
  background-color: rgb(32, 32, 32);
}

.barListToggle {
  color: orange;
  font-size: 20px;
}

.barListBody {
  height: 100px;
  background-color: black;
  font-weight: lighter;
  background-color: rgb(32, 32, 32);
}

.barListBodyText {
  position: relative;
  bottom: 22px;
  color: orange;
  font-size: 18px;
}

.barListBeerButton {
  position: absolute;
  right: 10px;
  bottom: 60px;
  color: black;
  background-color: orange;
}

.barListBeerButton:hover,
.barListBeerButton:active,
.barListBeerButton:focus,
.barListBeerButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.barListEditButton {
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: black;
  background-color: orange;
}

.barListEditButton:hover,
.barListEditButton:active,
.barListEditButton:focus,
.barListEditButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}
