.beerList {
  border-style: solid;
  border-color: rgb(204, 92, 0);
  position: absolute;

  color: orange;
  background-color: rgb(32, 32, 32);
}

.beersHeader {
  color: orange;
  font-size: 30px;
  letter-spacing: 0.05em;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

.beersHideButton {
  position: absolute;
  right: 10px;
  top: 18px;
  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.beersHideButton:hover,
.beersHideButton:focus,
.beersHideButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.beersAddBeerButton {
  position: absolute;
  right: 10px;
  
  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.beersAddBeerButton:hover,
.beersAddBeerButton:focus,
.beersAddBeerButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.beerListButton {

  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: bold;
  letter-spacing: 0.05em;

  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
}

.beerListButton:hover,
.beerListButton:focus,
.beerListButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.beerCardHeader {
  background-color: rgb(32, 32, 32);
}

.beerCardAddRatingButton {
    position: absolute;
    right: 0px;

    color: black;
    background-color: orange;
    border-color: orange;
    font-weight: bold;
    letter-spacing: 0.05em;

    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
.beerCardAddRatingButton:hover,
.beerCardAddRatingButton:focus,
.beerCardAddRatingButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}
