.changeUsernameModalHeader {
  color: rgb(204, 92, 0);
  background-color: rgb(32, 32, 32);
  border-color: rgb(204, 92, 0);
}

.changeUsernameModalBody {
  color: orange;
  background-color: rgb(32, 32, 32);
}

.changeUsernameModalFooter {
  background-color: rgb(32, 32, 32);
  border-color: rgb(204, 92, 0);
}

.changeUsernameOkButton {
  right: 5px;
  top: 5px;
  color: white;
  background-color: rgb(204, 92, 0);
  border-color: rgb(204, 92, 0);
  font-weight: bold;
  letter-spacing: 0.05em;
}

.changeUsernameOkButton:hover,
.changeUsernameOkButton:focus,
.changeUsernameOkButton:active {
  background: orange;
  color: #ffffff;
  border-color: orange;
}

.changeUsernameTextArea {
  background-color: rgb(32, 32, 32);
  border-color: orange;
  color: orange;
}

.changeUsernameTextArea:hover,
.changeUsernameTextArea:focus,
.changeUsernameTextArea:active {
  background-color: rgb(32, 32, 32);
  color: orange;
  border-color: orange;
}

.changeUsernameInputError {
  color: red;
}
