.hideButton {
    position:absolute;
    right:5px;
    top:5px;
    color: black;
    background-color: orange;
    border-color: orange;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.hideButton:hover,
.hideButton:active,
.hideButton:focus,
.hideButton:active {
    background: orange;
    color: #ffffff;
    border-color: orange;
}

.addFriendButton {
    color: grey;
    background-color: rgb(204, 92, 0);
    border-color: rgb(204, 92, 0);
    font-weight: bold;
    color: black;
    letter-spacing: 0.05em;
}

.addFriendButton:hover,
.addFriendButton:active,
.addFriendButton:focus,
.addFriendButton:active {
    background: orange;
    color: #ffffff;
    border-color: orange;
}

.friendsHeader {
    color: orange;
    font-weight:bold;
    letter-spacing: 0.05em;
}

.friendListBG {
    height: 50px;
    background-color: black;
    color: orange;
}

.friendListBG:hover,
.friendListBG:active,
.friendListBG:focus {
    background:orange;
    color: rgb(204, 92, 0);
}

.friendList {
    border-style: solid;
    border-color: rgb(204, 92, 0);
    font-weight: bold;
    position: absolute;
    width: 300px;
    color:white;
}